package ${package_name}.service;

import wang.yobbo.common.base.BaseService;
import ${package_name}.model.${model};
import ${package_name}.model.${model}Criteria;

/**
* ${model}Service接口
* Created by yobbo on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}, ${model}Criteria, ${id_data_type}> {

}