package ${package_name}.service.impl;

import wang.yobbo.common.annotation.BaseService;
import wang.yobbo.common.base.BaseServiceImpl;
import ${package_name}.dao.${model}Mapper;
import ${package_name}.model.${model};
import ${package_name}.model.${model}Criteria;
import ${package_name}.service.${model}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
* ${model}Service实现
* Created by yobbo on ${ctime}.
*/
@Service
@Transactional
@BaseService
public class ${model}ServiceImpl extends BaseServiceImpl<${model}Mapper, ${model}, ${model}Criteria> implements ${model}Service {

    private static final Logger LOGGER = LoggerFactory.getLogger(${model}ServiceImpl.class);

}