* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-weight: 400;
}

.block-control{
  height: 38px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  margin-top: -1px;
  color: #d3dce6;
  transition: .2s;
  position: relative;
}

.app {
  .header {
    background-color: #324157;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    margin-left: 0px !important;
    margin-right: 0px !important;

    .header-col {
      height: 60px;
      line-height: 60px;
      box-sizing: border-box;

      .nav-customer.is-active {
        color: #fff;
        font-weight: 700;
      }

    }
    h1 {
      position: relative;
      margin: 0;
      float: left;
      left: 40px;
      font-size: 32px;
      font-weight: 400;

      &:after {
        position: absolute;
        top: -7px;
        right: -50px;
        content: 'React';
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
      }

      a {
        color: #fff;
        text-decoration: none;
        display: block;
      }

      img {
        vertical-align: sub;
        pointer-events: none;
      }
    }
  }
}